@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
#name-of-couple {
  font-family: "Petit Formal Script", cursive;
}
#title-of-open-ceremony {
  font-family: "Open Sans", sans-serif;
}
#open-message {
  font-family: "Open Sans", sans-serif;
}
#location {
  font-family: "Open Sans", sans-serif;
}

#albim {
  font-family: "Open Sans", sans-serif;
}
#albbq {
  font-family: "Open Sans", sans-serif;
}
