@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
#name-of-couple {
  font-family: "Petit Formal Script", cursive;
}
#title-of-open-ceremony {
  font-family: "Merriweather", serif;
}
#open-message {
  font-family: "Merriweather", serif;
}
#location {
  font-family: "Merriweather", serif;
}
